<link rel="stylesheet" href="/css/common/flickity.min.css"></link>

<link rel="stylesheet" href="/css/products/imageSlider.css"> </link><!-- css for the image Sliding in the quick view -->


<!-- Flickity HTML init -->
<html>
<body>
<div class="main-gallery" style="width:50%;">
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
</div>
</body>

</html>
<script src="/js/home3/jquery-1.10.2.js"></script> <!-- js for jquery -->

<script src="/js/common/flickity.pkgd.min.js"></script>
<script src="/js/products/imageSlider.js"></script>
