<!DOCTYPE html>
<html lang="en">
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">


<script>
    $( document ).ready(function() {
        console.log( "document loaded" );
    });
</script>

<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <!-- <h2>Variable</h2> -->


<!--     <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main> -->



    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <h1 class="text-center login-title">Sign in to our Passport app
            <div class="account-wall"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" class="profile-img"/>
              <form action="/users/login" method="POST" class="form-signin">
                <input type="text" name="username" placeholder="Email" required="required" autofocus="autofocus" class="form-control"/>
                <input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button><span class="clearfix"></span>
              </form>
            </div><a href="/users/signup" class="text-center new-account">Create an account</a>
            <div id="message"></div>
          </h1>
        </div>
      </div>
    </div>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>

</br>
</br>
</br>
</br>
</html>
