<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thumbnail Grid with Expanding Preview</title>
    <meta name="description" content="Thumbnail Grid with Expanding Preview" />
    <meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
    <meta name="author" content="Codrops" />

    <link rel="stylesheet" type="text/css" href="/css/products/defaultPage.css" /><!-- css for default page attributes -->
    <link rel="stylesheet" type="text/css" href="/css/products/gridAndExpansion.css" /><!-- css for the the grid expanding tabs -->
    <link rel="stylesheet" type="text/css" href="/css/products/filter.css" /><!-- css for coexistance with filter -->
    <link rel="stylesheet" href="/css/products/hover.css"> </link><!-- css for the display of the 2 buttons at bottom -->
    <link rel="stylesheet" href="/css/products/heart.css"> </link><!-- css for the heart to break/ get made -->
    <link rel="stylesheet" href="/css/products/quickView.css"> </link><!-- css for the quick view -->
    <link rel="stylesheet" href="/css/products/pagination.css"> </link><!-- css for the pagination -->
    <link rel="stylesheet" href="/css/common/flickity.min.css"></link><!-- css for the flickity carousel gallery that comes in the quick view -->
    <link rel="stylesheet" href="/css/products/imageSlider.css"> </link><!-- css for the image Sliding in the quick view -->
    <script src="/js/home3/modernizr-2.6.2.min.js"></script>  <!-- js for modernizer /-->
</head>
<body>

<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top clearfix">
        <a href="http://tympanus.net/Tutorials/HexaFlip/"><strong>&laquo; Previous Demo: </strong>HexaFlip</a>
				<span class="right">
					<a href="http://cargocollective.com/jaimemartinez">Illustrations by Jaime Martinez</a>
					<a href="http://tympanus.net/codrops/?p=14530"><strong>Back to the Codrops Article</strong></a>
				</span>
    </div><!--/ Codrops top bar -->
    <header class="cd-header">
        <h1>Content Filters</h1>
    </header>

    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder">
                    <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                </li>
                <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
                <li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Color 1</a></li>
                <li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Color 2</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <a href="#0" class="ho-cart">
        <span>0</span>
    </a>
    <div class="main cd-gallery" style="float:right;width:83%;">
        <ul id="og-grid" class="og-grid ho-gallery">
            <% for(var i=0; i < 5; i++) { %>
                <li>
                    <div class="ho-single-item effect-zoe">
                        <a href="http://cargocollective.com/jaimemartinez/"
                           data-largesrc="/img/products/images/1.jpg" data-largesrc1="/img/products/images/1.jpg" data-largesrc2="/img/products/images/1.jpg" data-largesrc3="/img/products/images/1.jpg"
                           data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                            <img src="/img/products/images/thumbs/4.jpg" alt="img01"/>
                        </a>
                        <span class="heart">❤</span >
                        <p class="description">QUICK VIEW</p>
                        <div class="ho-customization">
                            <button class="add-to-cart1 leftPrice">
                                <span>100 ₹</span>
                                <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                    <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                </svg>
                            </button>

                            <button class="add-to-cart">
                                <em>Add to Cart</em>
                                <svg x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30">
                                    <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                </svg>
                            </button>
                        </div> <!-- .ho-customization -->

                        <!--<img class="inlay" src="https://www.rit.edu/news/lib/views/public/images/dateline_images/facebook_icon.gif" />-->
                    </div>
                    <!--<div class="ho-item-info">-->
                        <!--<b><a href="#0">Product Name</a></b>-->
                        <!--<em>$9.99</em>-->
                    <!--</div> &lt;!&ndash; ho-item-info &ndash;&gt;-->
                </li>
            <% } %>
            <% for(var i=0; i < 5; i++) { %>
            <li>
                <div class="ho-single-item effect-zoe">
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="/img/products/images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                        <img src="/img/products/images/thumbs/5.jpg" alt="img02"/>
                    </a>
                    <span class="heart">❤</span >
                    <p class="description">QUICK VIEW</p>

                    <div class="ho-customization">
                        <button class="add-to-cart1 leftPrice">
                            <span>100 ₹</span>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>

                        <button class="add-to-cart">
                            <em>Add to Cart</em>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>
                    </div> <!-- .ho-customization -->
                </div>
            </li>
            <% } %>
            <% for(var i=0; i < 5; i++) { %>
            <li>
                <div class="ho-single-item effect-zoe">
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="/img/products/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="/img/products/images/thumbs/6.jpg" alt="img03"/>
                    </a>
                    <span class="heart">❤</span >
                    <p class="description">QUICK VIEW</p>
                    <div class="ho-customization">
                        <button class="leftPrice">
                            <span>100 ₹</span>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>

                        <button class="add-to-cart">
                            <em>Add to Cart</em>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>
                    </div> <!-- .ho-customization -->
                </div>
            </li>
            <% } %>

            <% for(var i=0; i < 5; i++) { %>
            <li>
                <div class="ho-single-item effect-zoe">
                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="/img/products/images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="/img/products/images/thumbs/8.jpg" alt="img03"/>
                    </a>
                    <span class="heart">❤</span >
                    <p class="description">QUICK VIEW</p>
                    <div class="ho-customization">
                        <button class="leftPrice">
                            <span>100 ₹</span>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>

                        <button class="add-to-cart">
                            <em>Add to Cart</em>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </button>
                    </div> <!-- .ho-customization -->
                </div>
            </li>
            <% } %>
        </ul>
        <section>
            <nav role="navigation">
                <ul class="cd-pagination animated-buttons custom-icons">
                    <li class="button"><a href="#0"><i>Prev</i></a></li>
                    <li class="button"><a href="#0"><i>Next</i></a></li>
                </ul>
            </nav> <!-- cd-pagination-wrapper -->
        </section>
        <p>Filler text by <a href="http://veggieipsum.com/">Veggie Ipsum</a></p>
    </div>

    <div class="cd-filter">
        <a href="#0" class="cd-filter-trigger">Filters</a>

        <form>
            <div class="cd-filter-block">
                <h4>Search</h4>

                <div class="cd-filter-content">
                    <input type="search" placeholder="Try color-1...">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Check boxes</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Option 1</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Option 2</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Option 3</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Select</h4>

                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">Choose an option</option>
                            <option value=".option1">Option 1</option>
                            <option value=".option2">Option 2</option>
                            <option value=".option3">Option 3</option>
                            <option value=".option4">Option 4</option>
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Radio buttons</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Choice 2</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">Choice 3</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>

    </div> <!-- cd-filter -->

</div><!-- /container -->
<script src="/js/home3/jquery-1.10.2.js"></script> <!-- js for jquery -->
<script src="/js/products/gridAndExpansion.js"></script> <!-- js for the grid and expansions -->
<script>
    $(function() {
        Grid.init();
    });
</script>
<script src="/js/products/filter.js"></script> <!-- js for Filters -->
<script src="/js/products/hover.js"></script> <!-- js for hover and stuff appears at the bottom - the two buttons-->
<script src="/js/products/heart.js"></script> <!-- js for the heart work-->
<script src="/js/common/flickity.pkgd.min.js"></script><!-- js for the flickity carousel -->
<script src="/js/products/imageSlider.js"></script><!-- js for the flickity customizations -->
</body>
</html>

