<!-- FlatFy Theme - Andrea Galanti /-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template "></meta>
    <meta name="author" content=""></meta>

    <title>Cementify - Simplifying construction</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link>

    <!-- Custom Google Web Font -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>

    <!-- Custom CSS-->
    <link href="/css/home3/general.css" rel="stylesheet"></link>

    <!-- own styles -->
    <link rel="stylesheet" href="/css/blog/masonry.css"></link>
    <link rel="shortcut icon" type='image/x-icon' href="/img/favicon/favicon.ico"/>
</head>

<body id="home">
<div class="grid container">
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
</div>

<!-- JavaScript -->
<script src="/js/home3/jquery-1.10.2.js"></script>
<script src="/js/home3/bootstrap.js"></script>
<script type="text/javascript" src="/js/blog/masonry.js"></script>
<script type="text/javascript" src="/js/blog/masonryHelper.js"></script>
</body>

</html>
