<!-- views/pages/template.ejs -->

<!DOCTYPE html>
<html lang="en">
<style type='text/css'>
    .footer {
    position: relative;
    clear:both;
    padding-top:20px;
    background-color:#D9EDF7;
    border-top: 1px solid #bdc3c7;
    }

    html, body
    {
    height: 100%;
    }
    .container{
    min-height:100%;
    }
    .footer{
    height:250px;
    margin-top:-250px;
    }

</style>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Start Bootstrap</strong>
                </h4>
                <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>



</html>



