<link rel="stylesheet" type="text/css" href="/css/common/loaders.css"></link> <!-- css for loaders -->
<link rel="stylesheet" type="text/css" href="/css/helpers/loadersCustom.css"></link> <!-- css for custom loaders -->

<div class="loaders">
  <div class="loader">
    <div class="loader-inner ball-pulse-rise">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>      
</div>
<script src="/js/helpers/loaders.js"></script> <!-- js for the loaders -->
