/* --------------------------------

CDHEADER

-------------------------------- */
.cd-header {
  position: relative;
  height: 150px;
  background-color: #cc3300;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}