.effect-zoe p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    /* Fix for Chrome 37.0.2062.120 (Mac) */

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    margin: 30px 0 0;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}
.effect-zoe:hover p.description {
    opacity: 1;
}
.effect-zoe:hover p.description,
.effect-zoe:hover h2,
.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}