<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Cementify - Simplifying home construction</title>
	<link href="/imgNew/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link href="/cssNew/preloader.css" rel="stylesheet">
	<link href="/cssNew/iziModal.css" rel="stylesheet">
  <!-- <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> -->
	<link href="/cssNew/bootstrap.min.css" rel="stylesheet">
	<link href="/cssNew/font-awesome.min.css" rel="stylesheet">
	<link href="/cssNew/animate.css" rel="stylesheet">
	<link href="/cssNew/style.css" rel="stylesheet">
	<script src="/jsNew/jquery-2.1.3.min.js"></script>
	<script src="/jsNew/iziModal.js"></script>
	<!-- Gatwick - Responsive Multipurpose Template - v.1.2-->
</head>
<style>
.iziModal {
    position: fixed;
    z-index: 2000;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease;
}
.freebirdFormviewerViewNavigationPasswordWarning{
	display: none;
}

</style>
<body>

<!-- Preloader -->
<div class="preloader"></div>

<!-- HEADER -->
<header class="header header-light header-float navbar-fixed-top ">
	<nav class="navbar container">
		<div class="col-sm-12">
      <a href="/" class="navbar-brand">Cementify</a>
			<button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li >
						<a class=" activeNav" href="/">Home</a>
					</li>
					<li class="">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- /.header -->

<div id="lemodal">
    <!-- Page content -->
</div>
<!-- WRAPPER -->
<div class="wrapper no-margin">

  <!-- SLIDER -->
  <div class="slider oneslider portfolio-classic-slider">
    <ul>
      <li class="bg-sl-3">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle firstSlide">
            <h2 class="white">Simplifying Home Construction</h2>
            <p>We add a layer of professionalism and trust to your project.</p>
            <a href="/contact" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </li>


			<li class="bg-sl-9">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle firstSlide">
            <h2 class="white">Your Personal Manager</h2>
            <p>We manage your project like it is your own.</p>
							<!-- <p> Managing change across cultures, adapting to change due to merger, growth or any internal and external factors. </p> -->
              <a href="/contact" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </li>

			<li class="bg-sl-10">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle firstSlide">
            <h2 class="white">Sit Back and Relax</h2>
            <p>Watch your dream home get constructed without the usual hassles and mismanagement.</p>
            <a href="/contact" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </li>
			<li class="bg-sl-12">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle firstSlide">
						<h2 class="white">Service Professionals</h2>
						<p>Get the best possible professionals for your project.</p>
						<a href="/contact" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </li>
      <li class="bg-sl-11">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle firstSlide">
            <h2 class="white">No Worries</h2>
            <p>We take end to end responsibility of your project.</p>
            <a href="/contact" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </li>

      <!-- <li class="bg-sl-8">
        <div class="container inforow">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle">
            <h2 class="white">Company Style</h2>
            <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. </p>
            <a href="../../portfolio/single-work/portfolio_singlework_grid_medium_fix.html" class="btn btn-primary">Show Project</a>
          </div>
        </div>
      </li>
      <li class="bg-full-gray">
        <div class="container inforow">
          <div class="col-md-5 col-sm-6 col-xs-10 col-xs-offset-1 middle">
            <h2>New Branding</h2>
            <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
            <a href="../../portfolio/single-work/portfolio_singlework_grid_medium_fix.html" class="btn btn-primary">Show Project</a>
          </div>
          <div class="col-sm-5 hidden-xs middle">
            <img src="/imgNew/slider/photo3_l.jpg" alt="">
          </div>
        </div>
      </li> -->

      <!-- <li class="bg-white">
        <div class="container inforow">
          <div class="col-sm-4 col-sm-offset-2 hidden-xs middle">
            <img src="/imgNew/slider/2.jpeg" alt="">
          </div>
          <div class="col-md-5 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1 middle">
            <h2>Modern Ecobag</h2>
            <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. </p>
            <a href="../../portfolio/single-work/portfolio_singlework_grid_medium_fix.html" class="btn btn-primary">Show Project</a>
          </div>
        </div>
      </li> -->
      <!-- <li class="bg-full-gray">
        <div class="container inforow">
          <div class="col-md-5 col-sm-6 col-xs-10 col-xs-offset-1 middle">
						<h2 class="white">IDAM completes 10 years!</h2>
						<p>70 clients, 7 countries, 20 nationalities, 12000 people touched.</p>
						<p>It seems like we have come a long way. </p>
						<p> It also seems like we have a long way to go. There is so much more to do and learn.</p>
          </div>
          <div class="col-sm-5 hidden-xs middle">
            <img src="/imgNew/slider/blur4.jpg" alt="">
          </div>
        </div>
       </li> -->
      <!-- <li class="bg-white">
        <div class="container inforow">
          <div class="col-sm-4 col-sm-offset-2 hidden-xs middle">
            <img src="/imgNew/slider/3.jpeg" alt="">
          </div>
          <div class="col-md-5 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1 middle">
            <h2>Modern Ecobag</h2>
            <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. </p>
            <a href="../../portfolio/single-work/portfolio_singlework_grid_medium_fix.html" class="btn btn-primary">Show Project</a>
          </div>
        </div>
      </li>
      <li class="bg-sl-4 bg-sl-center">
        <div class="container inforow text-center">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 middle">
            <h2>Modern Style</h2>
            <p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque. </p>
            <a href="../../portfolio/single-work/portfolio_singlework_grid_medium_fix.html" class="btn btn-primary">Show Project</a>
          </div>
        </div>
      </li>  -->
    </ul>
    <div class="nav-pages inside"></div>
    <a href="" class="arrow prev"><i></i></a>
    <a href="" class="arrow next"><i></i></a>
  </div>
  <!-- /.slider -->
	<!-- /.slider -->
	<!-- /.slider -->

	<a id="scroll-anchor"></a>


	<!-- CONTAINER -->
	<div class=" container md-padding-bottom inforow">
		<div class="col-sm-4">
			<h2 class="painted">Have questions ?</h2>
		</div>
		<div class="col-sm-8">
			<p>Please feel free to contact us, we are eager to answer any question that you have.</p>
			<a href="/contact" class="btn btn-primary">Contact Us</a>
		</div>
	</div>
	<!-- /.container -->

	<!-- <div class="bg-primary">

		<div class="container  inforow">
			<div class="col-xs-2 "></div>

			<div class="col-xs-8 post msnr format-video">
				<h3>
					<a href="#">Introductory Video</a>
				</h3>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="http://player.vimeo.com/video/178110027?title=0&amp;byline=0&amp;portrait=0&amp;color=e79501" allowfullscreen></iframe>
				</div>
			</div>

		</div>
	</div> -->


	<!-- /.container -->
	<!-- CONTAINER -->
	<!-- <div class="container  inforow">
		<div class="col-sm-4">
			<div class="icon ico-default painted" data-icon="i"></div>
			<h4>About Us</h4>
			<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore.</p>
		</div>
		<div class="col-sm-4">
			<div class="icon ico-default painted" data-icon="b"></div>
			<h4>Our Targets</h4>
			<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usune.</p>
		</div>
		<div class="col-sm-4">
			<div class="icon ico-default painted" data-icon=")"></div>
			<h4>Our Strategy</h4>
			<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore.</p>
		</div>
	</div> -->
	<!-- /.container -->

	<!-- CONTAINER -->
	<!-- <div id="services" class="container inforow">
		<div class="col-sm-4">
			<div class="icon icon-default painted hidden-xs">
				<small>&mdash;</small>
			</div>
			<h2 class="painted">Services</h2>
			<p class="text-muted">Enim accumsan, ut prima blandit labores nonumes.</p>
		</div>
		<div class="col-sm-4">
			<div class="icon icon-default painted" data-icon="N"></div>
			<h4>Graphic Design</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
			<h4>Photography</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
		<div class="col-sm-4">
			<div class="icon icon-default painted" data-icon=","></div>
			<h4>Web Development</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
			<h4>Typography</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
	</div> -->
	<!-- /.container -->

	<!-- <div class="">
		<div class="container slider inforow oneslider">
			<ul>
				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“We ran a MBTI assessment and discovery session with Uma for the leadership team. Very well thought out and executed and at a time when the business really needed it. Knowledgeable, articulate and a great facilitator. Highly recommended.”</h3>
						</blockquote>
						<h5>Pronam Chatterjee <small>BluePi Consulting Pvt. Ltd.</small></h5>
					</div>
				</li>
				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“The sessions were fabulous, amazing and proved to be much above my expectations. I have been leading a team since many years but was lacking a mirror where I can see my skills, strengths and my weaknesses. The sessions have brought out all that I needed to become a good leader and people manager.”</h3>
						</blockquote>
						<h5>Hitesh Chandel <small> Global Logic</small></h5>
					</div>
				</li>

				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“It is a very well designed program. My learning was – to start believing myself, how to handle customers and bring delight in every interaction that I am going to have. Lot of reality in the content and very much aligned to the daily work.”</h3>
						</blockquote>
						<h5>Pallavi Jain   <small>Bharti Airtel</small></h5>
					</div>
				</li>

				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“Believe in yourself and your peer. Learn by sharing. Love people, don't hate them for their act, just hate their act. Keep your word.”</h3>
						</blockquote>
						<h5>Deepak Jindal  <small>Freescale</small></h5>
					</div>
				</li>

				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“Learning is an on-going process and everyday we learn different things. We often form wrong motions about others, which hampers our thinking. The workshop has helped me overcome my misconceptions. The programs were interactive with lots of games, team participation, and brainstorming.”</h3>
						</blockquote>
						<h5>Shalini Bahari Chandra  <small>Hindustan Construction Company</small></h5>
					</div>
				</li>

				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“Workshop is excellent. I learnt different ways to understand myself and to manage team. I have learnt that if we want to change others, we need to change ourselves.”</h3>
						</blockquote>
						<h5>Vineet Kumar  <small>Keane Worldzen</small></h5>
					</div>
				</li>

				<li>
					<div class="col-sm-1 col-sm-offset-1">
					</div>
					<div class="col-sm-7 middle hidden-middle">
						<blockquote>
							<h3>“The program has taught me the definition of life and building confidence. I was low on confidence earlier, but now my thinking has changed. I need to look deep inside of me and actively utilize all the qualities and potential that was hidden so far.”</h3>
						</blockquote>
						<h5>Vishwa Mohan <small> Bharati Airtel </small></h5>
					</div>
				</li>
			</ul>
			<div class="arrow prev"><i></i></div>
			<div class="arrow next"><i></i></div>
		</div>
	</div> -->




<!--
		<div class="container inforow">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3">
					<h4>A Few Clients</h4>
					<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam melior.</p>
				</div>
			</div>

			<div class="container slider logotypes sm-padding">
				<ul>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-1.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-2.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-3.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-4.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-5.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="http://gatwick.aisconverse.com/images/logo/logo-6.jpg" alt=""></a>
					</li>
				</ul>
				<a href="" class="arrow prev"><i></i></a>
				<a href="" class="arrow next"><i></i></a>
				<nav class="nav-pages"></nav>
			</div>
		</div> -->

		<!-- CONTAINER -->
		<!-- <div class="container no-padding-top neg-margin">
			<div class="row sm-padding">
				<div class="col-sm-6">
					<h4 class="text-muted">Our Office Gallery</h4>
				</div>
			</div>

			<div class="magnific-wrap slider gallery-wrap no-padding">
				<ul>
					<li class="col-md-4 col-xs-6">
						<img src="/imgNew/gallery/gam1.jpg" alt="">
						<a class="mask magnific" href="/imgNew/gallery/ga1.jpg" title="Cozy office">
							<h4>Cozy Office</h4>
						</a>
					</li>
          <li class="col-md-4 col-xs-6">
						<img src="/imgNew/gallery/gam2.jpg" alt="">
						<a class="mask magnific" href="/imgNew/gallery/ga2.jpg" title="Cozy office">
							<h4>Cozy Office</h4>
						</a>
					</li>
          <li class="col-md-4 col-xs-6">
						<img src="/imgNew/gallery/gam3.jpg" alt="">
						<a class="mask magnific" href="/imgNew/gallery/ga3.jpg" title="Cozy office">
							<h4>Cozy Office</h4>
						</a>
					</li>
          <li class="col-md-4 col-xs-6">
						<img src="/imgNew/gallery/gam5.jpg" alt="">
						<a class="mask magnific" href="/imgNew/gallery/ga5.jpg" title="Cozy office">
							<h4>Cozy Office</h4>
						</a>
					</li>

				</ul>
				<nav class="nav-pages"></nav>
			</div>
		</div> -->
		<!-- /.container -->
	<!-- </div> -->

	<!-- CONTAINER -->
	<!-- <div class="container  inforow">
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="46" data-sign="&percnt;"></div>
			<h4>Java Script</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="95" data-sign="&percnt;"></div>
			<h4>Graphic Design</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
		<div class="col-sm-4">
			<div class="countup progress-up" data-increment="1" data-num="73" data-sign="&percnt;"></div>
			<h4>Photography</h4>
			<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus.</p>
		</div>
	</div> -->
	<!-- /.container -->



	<!-- SLIDER -->
	<!-- <div class="container slider no-mix">
    <div class="row sm-padding">
      <div class="col-sm-6">
        <h2 class="text-muted">Our Team</h2>
      </div>
    </div>
		<ul>
			<li class="col-sm-3 mix designers">
				<div class="fig">
					<img src="/imgNew/team/person1.jpg" alt="">
					<a href="https://www.linkedin.com/in/uma-arora-9b10192?authType=NAME_SEARCH&authToken=YYSj&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_6009685%2Cidx%3A0" class="mask">
						<h4>Uma Arora <small>Chief Facilitator and CEO</small></h4>
					</a>
				</div>
				<nav class="mask-soc">
				</nav>
			</li>
			<li class="col-sm-3 mix leadership">
				<div class="fig">
					<img src="/imgNew/team/person7.jpg" alt="">
					<a href="" class="mask">
						<h4>Aparna Mehra <small></small></h4>
					</a>
				</div>
				<nav class="mask-soc">
					<a href=""><i class="fa fa-linkedin"></i></a>
				</nav>
			</li>
			<li class="col-sm-3 mix leadership">
				<div class="fig">
					<img src="/imgNew/team/person9.jpg" alt="">
					<a href="" class="mask">
						<h4>Aditi Mehra <small></small></h4>
					</a>
				</div>
				<nav class="mask-soc">
				</nav>
			</li>
			<li class="col-sm-3 mix leadership">
				<div class="fig">
					<img src="/imgNew/team/person8.jpg" alt="">
					<a href="https://www.linkedin.com/in/satish-koshal-4b771b7?authType=NAME_SEARCH&authToken=fKKG&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A22684171%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1470960804555%2Ctas%3Asatish%20kosha" class="mask">
						<h4>Satish Koshal <small></small></h4>
					</a>
				</div>
				<nav class="mask-soc">
				</nav>
			</li>
			<li class="col-sm-3 mix leadership">
				<div class="fig">
					<img src="/imgNew/team/person6.jpg" alt="">
					<a href="" class="mask">
						<h4>Cynthia Chan <small></small></h4>
					</a>
				</div>
				<nav class="mask-soc">
					<a href=""><i class="fa fa-linkedin"></i></a>
				</nav>
			</li>



		</ul>
		<a href="" class="arrow prev"><i></i></a>
		<a href="" class="arrow next"><i></i></a>
		<nav class="nav-pages"></nav>
	</div> -->
	<!-- /.slider -->




	<!-- MAP -->
	<div class="container">
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
		<div style="text-decoration:none; overflow:hidden; height:480px; width:100%; max-width:100%;">
			<div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
				<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=gurgaon&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU">
				</iframe>
			</div>
		</div>
	</div>


</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark ">
	<div class="container">
		<div class="row inforow frow-1">
			<div class="col-md-4 col-sm-6">
				<a class="navbar-brand" href="#">Cementify</a>
				<p>Your personal home construction manager.</p>
			</div>
			<div class="col-md-2 col-sm-6">
				<h4>Links</h4>
				<ul>
					<li><a href="/contact">Contact Us</a></li>
					<!-- <li><a href="/servicesIdam.html">Services</a></li> -->
					<!-- <li><a href="/aboutIdam.html">About</a></li> -->
					<!-- <li><a href="/quizIdam.html">Quiz</a></li> -->
				</ul>
			</div>


			<div class="col-md-3 col-sm-6 contact-bg">
				<h4><a href="/contactIdam.html">Contact</a></h4>
				<address>
					<p>
						<a href="tel:+91 7838185123">+91 7838185123</a><br/>
						<!-- <a href="tel:+91 9818 110720">+91 9818 110720</a><br/> -->
						<a href="mailto:rnjai@cementify.com">rnjai@cementify.com</a>
					</p>
					<p>
						<!-- H-78, FF, Residency Greens, <br/> -->
						<!-- Greenwoods City, <br/> -->
						Gurgaon - 122001 <br/>
						Harayana, India</p>
				</address>
			</div>
		</div>

		<hr/>

		<div class="row frow-3">
			<div class="col-md-5">
				<p class="copyright">&copy; 2016 Cementify. All Rights Reserved</p>
			</div>
			<div class="col-md-7 text-right">
				<ul>
					<li><a href="/contact">Contact Us</a></li>
					<!-- <li><a href="/servicesIdam.html">Services</a></li> -->
					<!-- <li><a href="/aboutIdam.html">About</a></li> -->
					<!-- <li><a href="/quizIdam.html">Quiz</a></li> -->

				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- /.footer -->

<!-- ScrollTop -->
<a href="#" class="scrolltop"><i></i></a>

<!-- Modal -->
<!-- <div class="modal map-modal" id="google-map-popup">
	<a href="#" class="map-close" data-dismiss="modal"><i></i></a>
	<div class="google-map-popup"></div>
</div> -->
<!-- /.modal -->

<!-- SCRIPTS -->
<!-- SCRIPTS -->


<script src="/jsNew/bootstrap.min.js"></script>
<script src="/jsNew/plugins.js"></script>
<script src="/jsNew/custom.js"></script>
<script>

	var isMobile = false; //initiate as false
	// device detection
	if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))){
			 console.log("mobile");
			 isMobile = true;
	}

	$(document).on('click', '.trigger', function (event) {
    event.preventDefault();
		if(isMobile){
			window.location = "/quizIdam.html";
		}
		else{
			$('#lemodal').iziModal('open', this); // Do not forget the "this"
		}
	});
	$("#lemodal").iziModal({
			title: 'Quiz',
			headerColor: '#3498db',
	    iframe: true,
	    iframeURL: "https://docs.google.com/forms/d/e/1FAIpQLSeE-hF04tqgcKZxEyZvJrAhRr_MsrGAzdunCF7EE93x7ar7CQ/viewform?embedded=true"
	});

	var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
			// Firefox 1.0+
	var isFirefox = typeof InstallTrigger !== 'undefined';
			// At least Safari 3+: "[object HTMLElementConstructor]"
	var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
			// Internet Explorer 6-11
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
			// Edge 20+
	var isEdge = !isIE && !!window.StyleMedia;
			// Chrome 1+
	var isChrome = !!window.chrome && !!window.chrome.webstore;
			// Blink engine detection
	var isBlink = (isChrome || isOpera) && !!window.CSS;

	if( isIE == true ){
		$('.preloader').hide();
	}
	if(  document.addEventListener  ){
			//  alert("you got IE9 or greater");
	 }
	 else{
		 window.location.replace("http://idamlearning.com/index1.html");
	 }


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84223106-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=1"></script> -->
</body>
</html>
