<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Gatwick - Responsive Multipurpose Template</title>
	<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link> <!-- Bootstrap core CSS -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link> <!-- Custom Google Web Font -->
    <link href="/css/products/productPage/animate.css" rel="stylesheet"></link> <!-- css for the animation -->
    <link href="/css/blog/index/style.css" rel="stylesheet"></link> <!-- css for the custom styling -->
</head>
<body class="vertical-menu single">

<!-- Preloader -->
<div class="preloader"></div>

<!-- HEADER -->
<div class="vside vside-dark active ">
	<button class="v-toggle ico-sidebar-l"></button>
</div>
<header class="header header-dark navbar-fixed-top ">
	<div class="vheader-height">
		<nav class="navbar">
			<a class="navbar-brand" href="#">Gatwick</a>
			<ul class="nav navbar-nav">
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Home</a>
					<ul class="dropdown-menu sub-menu">
						<li class="dropdown">
							<a href="">Business</a>
							<ul class="dropdown-menu">
								<li><a href="../home/business/business_start_1.html">Classic 1</a></li>
								<li><a href="../home/business/business_start_2.html">Classic 2</a></li>
								<li><a href="../home/business/business_start_3.html">Classic 3</a></li>
								<li><a href="../home/business/business_start_fullscreen.html">Full Screen</a></li>
								<li><a href="../home/business/business_start_simple.html">Simple Version</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Portfolio</a>
							<ul class="dropdown-menu">
								<li><a href="../home/portfolio/portfolio_start_classic.html">Classic</a></li>
								<li><a href="../home/portfolio/portfolio_start_full_horizontal.html">Full Screen Horizontal</a></li>
								<li><a href="../home/portfolio/portfolio_start_full_vertical.html">Full Screen Vertical</a></li>
								<li><a href="../home/portfolio/portfolio_start_grid_fix.html">Grid Style</a></li>
								<li><a href="../home/portfolio/portfolio_start_grid_fullwidth.html">Grid Full Screen</a></li>
								<li><a href="../home/portfolio/portfolio_start_slider.html">Gallery Style</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Shop</a>
							<ul class="dropdown-menu">
								<li><a href="../home/shop/shop_start_classic.html">Classic</a></li>
								<li><a href="../home/shop/shop_start_full_horizontal.html">Full Screen Horizontal</a></li>
								<li><a href="../home/shop/shop_start_full_vertical.html">Full Screen Vertical</a></li>
								<li><a href="../home/shop/shop_start_grid.html">Grid Style</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Blog</a>
							<ul class="dropdown-menu">
								<li><a href="../home/blog/blog_start_classic.html">Classic</a></li>
								<li><a href="../home/blog/blog_start_classic_sidebar_right.html">Classic Right Sidebar</a></li>
								<li><a href="../home/blog/blog_start_classic_sidebar_left.html">Classic Left Sidebar</a></li>
								<li><a href="../home/blog/blog_start_classic_sidebar_fix.html">Classic Hover Sidebar</a></li>
								<li><a href="../home/blog/blog_start_grid_2_col.html">Grid 2 Columns</a></li>
								<li><a href="../home/blog/blog_start_grid_3_col.html">Grid 3 Columns</a></li>
								<li><a href="../home/blog/blog_start_grid_4_col.html">Grid 4 Columns</a></li>
								<li><a href="../home/blog/blog_start_grid_fullwidth.html">Grid Full Width</a></li>
								<li><a href="../home/blog/blog_start_masonry_2_col.html">Masonry 2 Columns</a></li>
								<li><a href="../home/blog/blog_start_masonry_3_col.html">Masonry 3 Columns</a></li>
								<li><a href="../home/blog/blog_start_masonry_3_col_fade.html">Masonry 3 Columns Fade</a></li>
								<li><a href="../home/blog/blog_start_masonry_3_col_loadmore.html">Masonry 3 Columns Load More</a></li>
								<li><a href="../home/blog/blog_start_masonry_4_col.html">Masonry 4 Columns</a></li>
								<li><a href="../home/blog/blog_start_masonry_fullwidth.html">Masonry Full Width</a></li>
								<li><a href="../home/blog/blog_start_timeline.html">Timeline</a></li>
								<li><a href="../home/blog/blog_start_simple.html">Simple Version</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Coming Soon</a>
							<ul class="dropdown-menu">
								<li><a href="../home/other/comingsoon_slider.html">Image Slider</a></li>
								<li><a href="../home/other/comingsoon_video.html">Video Background</a></li>
								<li><a href="../home/other/comingsoon_solid_color.html">Solid Color Background</a></li>
								<li><a href="../home/other/comingsoon_simple.html">Simple Version</a></li>
							</ul>
						</li>
						<li>
							<a href="../home/other/onepage.html">One Page</a>
						</li>
						<li class="dropdown">
							<a href="">Fullscreen</a>
							<ul class="dropdown-menu">
								<li><a href="../home/other/home_fullscreen_image.html">Image Background</a></li>
								<li><a href="../home/other/home_fullscreen_video.html">Video Background</a></li>
								<li><a href="../home/other/home_fullscreen_pattern_color.html">Solid Pattern Color Background</a></li>
								<li><a href="../home/other/home_fullscreen_slider.html">Slider Version</a></li>
							</ul>
						</li>
						<li>
							<a href="../home/other/home_app.html">App Landing Page</a>
						</li>
						<li>
							<a href="../home/other/home_wedding.html">Wedding Page</a>
						</li>
					</ul>
				</li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
					<ul class="dropdown-menu sub-menu">
						<li class="dropdown">
							<a href="">About Us</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/about_1.html">Version 1</a></li>
								<li><a href="../pages/about_2.html">Version 2</a></li>
								<li><a href="../pages/about_3.html">Version 3</a></li>
							</ul>
						</li>
						<li>
							<a href="../pages/aboutme.html">About Me</a>
						</li>
						<li>
							<a href="../pages/timeline.html">Timeline</a>
						</li>
						<li class="dropdown">
							<a href="">Gallery</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/gallery_grid_1_col.html">Grid 1 Column</a></li>
								<li><a href="../pages/gallery_grid_2_col.html">Grid 2 Columns</a></li>
								<li><a href="../pages/gallery_grid_2_col_slider.html">Grid 2 Columns Slider</a></li>
								<li><a href="../pages/gallery_grid_3_col.html">Grid 3 Columns</a></li>
								<li><a href="../pages/gallery_grid_fullwidth.html">Grid Full Width</a></li>
								<li><a href="../pages/gallery_grid_fullwidth_slider.html">Grid Full Width Slider</a></li>
								<li><a href="../pages/gallery_grid_slider.html">Grid Slider</a></li>
								<li><a href="../pages/gallery_masonry_3_col.html">Masonry 3 Columns</a></li>
								<li><a href="../pages/gallery_masonry_3_col_nobar.html">Masonry 3 Columns No Bar</a></li>
								<li><a href="../pages/gallery_masonry_4_col.html">Masonry 4 Columns</a></li>
								<li><a href="../pages/gallery_masonry_fullwidth.html">Masonry Full Width</a></li>
								<li><a href="../pages/gallery_masonry_slider.html">Masonry Slider</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Services</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/services_1.html">Version 1</a></li>
								<li><a href="../pages/services_2.html">Version 2</a></li>
								<li><a href="../pages/services_3.html">Version 3</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Our Team</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/team_grid_3_col.html">Grid 3 Columns</a></li>
								<li><a href="../pages/team_grid_3_col_text.html">Grid 3 Columns Text</a></li>
								<li><a href="../pages/team_grid_4_col.html">Grid 4 Columns</a></li>
								<li><a href="../pages/team_grid_4_col_text.html">Grid 4 Columns Text</a></li>
								<li><a href="../pages/team_grid_full_big.html">Grid Full Width Big</a></li>
								<li><a href="../pages/team_grid_full_small.html">Grid Full Width Small</a></li>
								<li><a href="../pages/team_carousel_fix_3_col.html">Carousel 3 Columns</a></li>
								<li><a href="../pages/team_carousel_fix_4_col.html">Carousel 4 Columns</a></li>
								<li><a href="../pages/team_carousel_full_big.html">Carousel Full Width Big</a></li>
								<li><a href="../pages/team_carousel_full_small.html">Carousel Full Width Small</a></li>
							</ul>
						</li>
						<li>
							<a href="../pages/careers.html">Careers</a>
						</li>
						<li>
							<a href="../pages/vacancy.html">Vacancy</a>
						</li>
						<li>
							<a href="../pages/clients.html">Clients</a>
						</li>
						<li>
							<a href="../pages/testimonials.html">Testimonials</a>
						</li>
						<li>
							<a href="../pages/pricing.html">Pricing</a>
						</li>
						<li class="dropdown">
							<a href="">Contact</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/contact-classic.html">Classic</a></li>
								<li><a href="../pages/contact.html">Extended</a></li>
								<li><a href="../pages/contact-simple.html">Simple</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">FAQ</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/faq_1_col.html">1 Column</a></li>
								<li><a href="../pages/faq_2_col.html">2 Columns</a></li>
								<li><a href="../pages/faq2.html">2 Columns Simple</a></li>
								<li><a href="../pages/faq_3_col.html">3 Columns</a></li>
							</ul>
						</li>
						<li>
							<a href="../pages/sitemap.html">Site Map</a>
						</li>
						<li>
							<a href="../pages/search_results.html">Search Results</a>
						</li>
						<li class="dropdown">
							<a href="">Text Page</a>
							<ul class="dropdown-menu">
								<li><a href="../pages/textpage_container.html">Classic</a></li>
								<li><a href="../pages/textpage_right_sidebar.html">Right Sidebar</a></li>
								<li><a href="../pages/textpage_left_sidebar.html">Left Sidebar</a></li>
								<li><a href="../pages/textpage_both_sidebars.html">Both Sidebars</a></li>
								<li><a href="../pages/textpage_both_right_sidebars.html">Both Right Sidebars</a></li>
								<li><a href="../pages/textpage_both_left_sidebars.html">Both Left Sidebars</a></li>
								<li><a href="../pages/textpage_fullwidth.html">Full Width</a></li>
							</ul>
						</li>
						<li>
							<a href="../../other/blank.html">Blank Page</a>
						</li>
						<li class="dropdown">
							<a href="">Error 404</a>
							<ul class="dropdown-menu">
								<li><a href="../../other/404_blank.html">Blank Version</a></li>
								<li><a href="../../other/404_image.html">Image Background</a></li>
								<li><a href="../../other/404_video.html">Video Background</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Under Construction</a>
							<ul class="dropdown-menu">
								<li><a href="../../other/under_construction_blank.html">Blank Version</a></li>
								<li><a href="../../other/under_construction_image.html">Image Background</a></li>
								<li><a href="../../other/under_construction_video.html">Video Background</a></li>
							</ul>
						</li>
						<li>
							<a href="../pages/login.html">Login Page</a>
						</li>
						<li>
							<a href="../pages/register.html">Register</a>
						</li>
						<li>
							<a href="../pages/lost_password.html">Lost Password</a>
						</li>
					</ul>
				</li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Works</a>
					<ul class="dropdown-menu sub-menu">
						<li class="dropdown">
							<a href="">Grid</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_1_col.html">1 Column</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_1_col_parallax.html">1 Column Parallax</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col.html">2 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col.html">3 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_4_col.html">4 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_t.html">Grid with Titles</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_m.html">Grid with Margins</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_tm.html">Grid with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Full Width</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_large.html">Full Width Large</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium.html">Full Width Medium</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_small.html">Full Width Small</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_t.html">Full Width with Titles</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_m.html">Full Width with Margins</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_tm.html">Full Width with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Slider</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/slider/portfolio_grid_2_col_slider.html">2 Columns Gallery</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_2_col_slider_ribbon.html">2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_slider.html">3 Columns Gallery</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_slider_ribbon.html">3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_slider.html">4 Columns Gallery</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_slider_ribbon.html">4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_t_slider_ribbon.html">Slider with Titles</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_m_slider_ribbon.html">Slider with Margins</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_tm_slider_ribbon.html">Slider with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Slider Full Width</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_slider.html">Slider Gallery Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_slider_ribbon.html">Slider Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_slider.html">Slider Gallery Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_slider_ribbon.html">Slider Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_small_slider_ribbon.html">Slider Full Width Small</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_t_slider_ribbon.html">Slider Full Width with Titles</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_small_m_slider_ribbon.html">Slider Full Width with Margins</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_tm_slider_ribbon.html">Slider Full Width with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Masonry Grid</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_2_col.html">2 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col.html">3 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_4_col.html">4 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_t.html">Masonry with Titles</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_m.html">Masonry with Margins</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_tm.html">Masonry with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Masonry Full Width</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_large.html">Masonry Full Width Large</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium.html">Masonry Full Width Medium</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_small.html">Masonry Full Width Small</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_t.html">Masonry Full Width with Titles</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_m.html">Masonry Full Width with Margins</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_tm.html">Masonry Full Width with Titles &amp; Margins</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Masonry Mixed</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_mixed_fix.html">Grid Version</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_mixed_fullwidth.html">Full Width Version</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles Grid</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_1_col_t.html">Grid 1 Column</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_1_col_parallax_t.html">Grid 1 Column Parallax</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_t.html">Grid 2 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_t.html">Grid 3 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_4_col_t.html">Grid 4 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_large_t.html">Full Width Large</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_t.html">Full Width Medium</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_small_t.html">Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles Slider</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/slider/portfolio_grid_2_col_t_slider.html">Slider Gallery 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_2_col_t_slider_ribbon.html">Slider 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_t_slider.html">Slider Gallery 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_t_slider_ribbon.html">Slider 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_t_slider.html">Slider Gallery 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_t_slider_ribbon.html">Slider 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_t_slider.html">Slider Gallery Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_t_slider_ribbon.html">Slider Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_t_slider.html">Slider Gallery Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_t_slider_ribbon.html">Slider Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_small_t_slider_ribbon.html">Slider Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles Masonry</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_2_col_t.html">Masonry Grid 2 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_t.html">Masonry Grid 3 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_4_col_t.html">Masonry Grid 4 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_large_t.html">Masonry Full Width Large</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_t.html">Masonry Full Width Medium</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_small_t.html">Masonry Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Margins Grid</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_1_col_m.html">Grid 1 Column</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_1_col_parallax_m.html">Grid 1 Column Parallax</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_m.html">Grid 2 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_m.html">Grid 3 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_4_col_m.html">Grid 4 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_large_m.html">Full Width Large</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_m.html">Full Width Medium</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_small_m.html">Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Margins Slider</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/slider/portfolio_grid_2_col_m_slider.html">Slider Gallery 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_2_col_m_slider_ribbon.html">Slider 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_m_slider.html">Slider Gallery 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_t_slider_ribbon.html">Slider 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_m_slider.html">Slider Gallery 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_t_slider_ribbon.html">Slider 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_m_slider.html">Slider Gallery Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_m_slider_ribbon.html">Slider Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_m_slider.html">Slider Gallery Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_m_slider_ribbon.html">Slider Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_small_m_slider_ribbon.html">Slider Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Margins Masonry</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_2_col_m.html">Masonry Grid 2 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_m.html">Masonry Grid 3 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_4_col_m.html">Masonry Grid 4 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_large_m.html">Masonry Full Width Large</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_m.html">Masonry Full Width Medium</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_small_m.html">Masonry Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles &amp; Margins Grid</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_1_col_m.html">Grid 1 Column</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_1_col_parallax_m.html">Grid 1 Column Parallax</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_tm.html">Grid 2 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_3_col_tm.html">Grid 3 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_4_col_tm.html">Grid 4 Columns</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_large_tm.html">Full Width Large</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_medium_tm.html">Full Width Medium</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_fullwidth_small_tm.html">Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles &amp; Margins Slider</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/slider/portfolio_grid_2_col_tm_slider.html">Slider Gallery 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_2_col_tm_slider_ribbon.html">Slider 2 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_slider.html">Slider Gallery 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_3_col_tm_slider_ribbon.html">Slider 3 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_slider.html">Slider Gallery 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_4_col_tm_slider_ribbon.html">Slider 4 Columns</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_tm_slider.html">Slider Gallery Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_large_tm_slider_ribbon.html">Slider Full Width Large</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_tm_slider.html">Slider Gallery Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_medium_tm_slider_ribbon.html">Slider Full Width Medium</a></li>
								<li><a href="../portfolio/slider/portfolio_grid_fullwidth_small_tm_slider_ribbon.html">Slider Full Width Small</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Titles &amp; Margins Masonry</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/masonry/portfolio_masonry_2_col_tm.html">Masonry Grid 2 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_3_col_tm.html">Masonry Grid 3 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_4_col_tm.html">Masonry Grid 4 Columns</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_large_tm.html">Masonry Full Width Large</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_medium_tm.html">Masonry Full Width Medium</a></li>
								<li><a href="../portfolio/masonry/portfolio_masonry_fullwidth_small_tm.html">Masonry Full Width Small</a></li>
							</ul>
						</li>
						<li class="divider"></li>
						<li class="dropdown">
							<a href="">Single Project</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/single-work/portfolio_singlework_grid_large_fix.html">Grid Large</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_grid_large_fullwidth.html">Grid Large Full Width</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_grid_medium_fix.html">Grid Medium</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_grid_medium_fullwidth.html">Grid Medium Full Width</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_carousel_large_fix.html">Carousel Large</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_carousel_large_fullwidth.html">Carousel Large Full Width</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_carousel_medium_fix.html">Carousel Medium</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_carousel_medium_fullwidth.html">Carousel Medium Full Width</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_slider_fix.html">Slider</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_slider_fullwidth.html">Slider Full Width</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_masonry_mixed.html">Masonry Mixed</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_video_html5.html">Video HTML5</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_video_embed_youtube.html">Video Embed YouTube</a></li>
								<li><a href="../portfolio/single-work/portfolio_singlework_video_embed_vimeo.html">Video Embed Vimeo</a></li>
							</ul>
						</li>
						<li class="divider"></li>
						<li class="dropdown">
							<a href="">Loading Style</a>
							<ul class="dropdown-menu">
								<li><a href="../portfolio/grid/portfolio_grid_2_col_pagination.html">Pagination</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_fade.html">Auto Scroll</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_loadmore.html">Load More Button</a></li>
								<li><a href="../portfolio/grid/portfolio_grid_2_col_modal.html">Modal Window</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="dropdown active">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
					<div class="sf-mega dropdown-menu">
						<div class="divtable">
							<div class="divcell">
								<h5>Home</h5>
								<ul>
									<li><a href="../home/blog/blog_start_classic.html">Classic</a></li>
									<li><a href="../home/blog/blog_start_classic_sidebar_right.html">Classic Right Sidebar</a></li>
									<li><a href="../home/blog/blog_start_classic_sidebar_left.html">Classic Left Sidebar</a></li>
									<li><a href="../home/blog/blog_start_classic_sidebar_fix.html"><i class="fa fa-anchor fa-fw"></i>Classic Hover Sidebar</a></li>
									<li><a href="../home/blog/blog_start_grid_2_col.html">Grid 2 Columns</a></li>
									<li><a href="../home/blog/blog_start_grid_3_col.html">Grid 3 Columns</a></li>
									<li><a href="../home/blog/blog_start_grid_4_col.html">Grid 4 Columns</a></li>
									<li><a href="../home/blog/blog_start_grid_fullwidth.html">Grid Full Width</a></li>
								</ul>
								<ul>
									<li><a href="../home/blog/blog_start_masonry_2_col.html">Masonry 2 Columns</a></li>
									<li><a href="../home/blog/blog_start_masonry_3_col.html">Masonry 3 Columns</a></li>
									<li><a href="../home/blog/blog_start_masonry_4_col.html">Masonry 4 Columns</a></li>
									<li><a href="../home/blog/blog_start_masonry_fullwidth.html">Masonry Full Width</a></li>
									<li><a href="../home/blog/blog_start_timeline.html"><i class="fa fa-bell-o fa-fw"></i>Timeline</a></li>
									<li><a href="../home/blog/blog_start_simple.html">Simple Version</a></li>
								</ul>
							</div>
							<div class="divcell">
								<h5>Single Post</h5>
								<ul>
									<li><a href="../blog/blog_post_gallery_sidebar_right.html">Right Sidebar</a></li>
									<li><a href="../blog/blog_post_gallery_sidebar_left.html">Left Sidebar</a></li>
									<li><a href="../blog/blog_post_gallery_no_sidebar.html">No Sidebar</a></li>
									<li><a href="../blog/blog_post_gallery_sidebar_fix.html">Hover Sidebar</a></li>
									<li><a href="../blog/blog_post_text.html"><i class="fa fa-file-text-o fa-fw"></i>Text Post</a></li>
									<li><a href="../blog/blog_post_image.html"><i class="fa fa-file-image-o fa-fw"></i>Image Post</a></li>
									<li><a href="../blog/blog_post_gallery_sidebar_right.html"><i class="fa fa-image fa-fw"></i>Gallery Post</a></li>
									<li><a href="../blog/blog_post_link.html"><i class="fa fa-link fa-fw"></i>Link Post</a></li>
									<li><a href="../blog/blog_post_quote.html"><i class="fa fa-quote-left fa-fw"></i>Quote Post</a></li>
									<li><a href="../blog/blog_post_audio.html"><i class="fa fa-music fa-fw"></i>Audio Post</a></li>
									<li><a href="../blog/blog_post_video_youtube.html"><i class="fa fa-youtube-play fa-fw"></i>Video Youtube Post</a></li>
									<li><a href="../blog/blog_post_video_vimeo.html"><i class="fa fa-vimeo-square fa-fw"></i>Video Vimeo Post</a></li>
								</ul>
								<h5>Various</h5>
								<ul>
									<li><a href="../blog/blog_post_gallery_facebook.html">Facebook Comments</a></li>
									<li><a href="../blog/blog_post_gallery_disqus.html">Disqus Comments</a></li>
									<li><a href="../home/blog/blog_start_masonry_3_col.html"><i class="fa fa-tty fa-fw"></i>Pagination</a></li>
									<li><a href="../home/blog/blog_start_masonry_3_col_fade.html">Auto Scroll</a></li>
									<li><a href="../home/blog/blog_start_masonry_3_col_loadmore.html">Load More Button</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
					<div class="sf-mega dropdown-menu">
						<div class="divtable">
							<div class="divcell">
								<h5>Home</h5>
								<ul>
									<li><a href="../home/shop/shop_start_classic.html"><i class="fa fa-tint fa-fw"></i>Classic</a></li>
									<li><a href="../home/shop/shop_start_full_horizontal.html">Full Screen Horizontal</a></li>
									<li><a href="../home/shop/shop_start_full_vertical.html">Full Screen Vertical</a></li>
									<li><a href="../home/shop/shop_start_grid.html">Grid Style</a></li>
								</ul>
								<h5>Product Page</h5>
								<ul>
									<li><a href="../shop/shop_product.html">Product Pages</a></li>
									<li><a href="../shop/shop_product_sidebar_right.html"><i class="fa fa-thumb-tack fa-fw"></i>Product Right Sidebar</a></li>
									<li><a href="../shop/shop_product_sidebar_left.html">Product Left Sidebar</a></li>
									<li><a href="../shop/shop_product_sidebar_fix.html">Product Hover Sidebar</a></li>
								</ul>
							</div>
							<div class="divcell">
								<h5>Catalog</h5>
								<ul>
									<li><a href="../shop/shop_grid.html">Grid Pages</a></li>
									<li><a href="../shop/shop_grid_sidebar_right.html">Grid Right Sidebar</a></li>
									<li><a href="../shop/shop_grid_sidebar_left.html">Grid Left Sidebar</a></li>
									<li><a href="../shop/shop_grid_sidebar_fix.html">Grid Hover Sidebar</a></li>
									<li><a href="../shop/shop_list.html">List Pages</a></li>
									<li><a href="../shop/shop_list_sidebar_right.html"><i class="fa fa-thumbs-up fa-fw"></i>List Right Sidebar</a></li>
									<li><a href="../shop/shop_list_sidebar_left.html">List Left Sidebar</a></li>
									<li><a href="../shop/shop_list_sidebar_fix.html">List Hover Sidebar</a></li>
								</ul>
								<h5>Order Pages</h5>
								<ul>
									<li><a href="../shop/shop_cart.html"><i class="fa fa-ticket fa-fw"></i>Product Cart</a></li>
									<li><a href="../shop/shop_cart_empty.html">Product Cart Empty</a></li>
									<li><a href="../shop/shop_checkout.html">Checkout Page</a></li>
									<li><a href="../shop/shop_confirmation.html">Confirmation</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Features</a>
					<ul class="dropdown-menu sub-menu">
						<li class="dropdown">
							<a href="">Main Menu</a>
							<ul class="dropdown-menu">
								<li><a href="../features/mainmenu/menu_vertical_dark.html">Dark Menu</a></li>
								<li><a href="../features/mainmenu/menu_vertical_light.html">Light Menu</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Page Title Style</a>
							<ul class="dropdown-menu">
								<li><a href="../features/page-title/title_light_left.html">Left Align</a></li>
								<li><a href="../features/page-title/title_light_right.html">Right Align</a></li>
								<li><a href="../features/page-title/title_light_center.html">Center Align</a></li>
								<li><a href="../features/page-title/title_light_subtitle_left.html">Left with Subtitle</a></li>
								<li><a href="../features/page-title/title_light_subtitle_right.html">Right with Subtitle</a></li>
								<li><a href="../features/page-title/title_light_subtitle_center.html">Center with Subtitle</a></li>
								<li><a href="../features/page-title/title_light_collapse.html">Collapse Title</a></li>
								<li><a href="../features/page-title/title_portfolio.html">Portfolio Style</a></li>
								<li><a href="../features/page-title/title_icon.html">Icon Style</a></li>
								<li><a href="../features/page-title/title_simple.html">Simple Style</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Page Title Size</a>
							<ul class="dropdown-menu">
								<li><a href="../features/page-title/title_small.html">Small</a></li>
								<li><a href="../features/page-title/title_medium.html">Medium</a></li>
								<li><a href="../features/page-title/title_large.html">Large</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Page Title Background</a>
							<ul class="dropdown-menu">
								<li><a href="../features/page-title/title_solid_color.html">Solid Color</a></li>
								<li><a href="../features/page-title/title_solid_color_pattern.html">Solid Color with Pattern</a></li>
								<li><a href="../features/page-title/title_image.html">Image</a></li>
								<li><a href="../features/page-title/title_image_parallax.html">Image Parallax</a></li>
								<li><a href="../features/page-title/title_video.html">Video HTML5</a></li>
								<li><a href="../features/page-title/title_no_background.html">No Background</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Page Title Color</a>
							<ul class="dropdown-menu">
								<li><a href="../features/page-title/title_light_subtitle_left.html">Light Version</a></li>
								<li><a href="../features/page-title/title_dark_subtitle_left.html">Dark Version</a></li>
								<li><a href="../features/page-title/title_dark_collapse.html">Dark Collapse Version</a></li>
							</ul>
						</li>
						<li>
							<a href="../features/widgets/widgets.html">Widgets</a>
						</li>
						<li class="dropdown">
							<a href="">Sliders</a>
							<ul class="dropdown-menu">
								<li><a href="../features/sliders/fullscreen_slider.html">Full Screen Mixed</a></li>
								<li><a href="../features/sliders/fullscreen_parallax_slider.html">Full Screen Mixed Parallax</a></li>
								<li><a href="../features/sliders/fullscreen_vertical.html">Full Screen Mixed Vertical</a></li>
								<li><a href="../features/sliders/fullwidth_slider.html">Full Width</a></li>
								<li><a href="../features/sliders/fullscreen_scrolldown_slider.html">Scroll Down</a></li>
								<li><a href="../features/sliders/fullscreen_video_slider.html">Video HTML5</a></li>
								<li><a href="../features/sliders/fullscreen_video_one_slide.html">Video One Slide</a></li>
								<li><a href="../features/sliders/fullscreen_embed_video_slider.html">Embed Video</a></li>
								<li><a href="../features/sliders/fullscreen_image_one_slide.html">Image One Slide</a></li>
								<li><a href="../features/sliders/fullscreen_content_slider.html">Content Slider</a></li>
								<li><a href="../features/sliders/fullscreen_ecommerce.html">eCommerce Full Screen</a></li>
								<li><a href="../features/sliders/fullwidth_ecommerce.html">eCommerce Full Width</a></li>
								<li><a href="../features/sliders/fullscreen_portfolio.html">Portfolio Full Screen</a></li>
								<li><a href="../features/sliders/fullwidth_portfolio.html">Portfolio Full Width</a></li>
								<li><a href="../features/sliders/fullwidth_portfolio_carousel.html">Portfolio Carousel</a></li>
								<li><a href="../features/sliders/fixed_slider.html">Boxed Slider</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Sections</a>
							<ul class="dropdown-menu">
								<li><a href="../features/sections/section_solid_color.html">Solid Color</a></li>
								<li><a href="../features/sections/section_pattern_color.html">Solid Color with Pattern</a></li>
								<li><a href="../features/sections/section_image.html">Image Background</a></li>
								<li><a href="../features/sections/section_parallax.html">Image Parallax</a></li>
								<li><a href="../features/sections/section_video.html">Video HTML5</a></li>
								<li><a href="../features/sections/section_google_map.html">Google Map Section</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="dropdown ">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Shortcodes</a>
					<ul class="dropdown-menu sub-menu">
						<li class="dropdown">
							<a href="">Typography</a>
							<ul class="dropdown-menu">
								<li><a href="../shortcodes/shortcodes_blockquotes.html">Blockquotes</a></li>
								<li><a href="../shortcodes/shortcodes_columns.html">Columns</a></li>
								<li><a href="../shortcodes/shortcodes_dividers.html">Dividers</a></li>
								<li><a href="../shortcodes/shortcodes_drop_caps.html">Drop Caps</a></li>
								<li><a href="../shortcodes/shortcodes_google_fonts.html">Google Font</a></li>
								<li><a href="../shortcodes/shortcodes_heading.html">Heading</a></li>
								<li><a href="../shortcodes/shortcodes_highlights.html">Highlights</a></li>
								<li><a href="../shortcodes/shortcodes_lists.html">Lists</a></li>
								<li><a href="../shortcodes/shortcodes_tables.html">Tables</a></li>
								<li><a href="../shortcodes/shortcodes_text_and_icons.html">Text &amp; Icons</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="">Animations</a>
							<ul class="dropdown-menu">
								<li><a href="../shortcodes/shortcodes_animation.html">Image Animation</a></li>
								<li><a href="../shortcodes/shortcodes_counters.html">Counters</a></li>
								<li><a href="../shortcodes/shortcodes_horizontal_charts.html">Horizontal Charts</a></li>
								<li><a href="../shortcodes/shortcodes_pies.html">Pies</a></li>
							</ul>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_accordions.html">Accordions</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_alerts.html">Alerts</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_breadcrumbs.html">Breadcrumbs</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_buttons.html">Buttons</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_carousels.html">Carousels</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_client_logos.html">Clients Logos</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_forms.html">Forms &amp; Controls</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_galleries.html">Galleries</a>
						</li>
						<li><a href="../shortcodes/shortcodes_icons_gatwick.html">Gatwick Icons</a></li>
						<li>
							<a href="../shortcodes/shortcodes_google_maps.html">Google Maps</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_media.html">Media</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_pagination.html">Paginations</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_pricing.html">Pricing Tables</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_process_steps.html">Process Steps</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_promo_boxes.html">Promo Boxes</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_tabs.html">Tabs</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_team.html">Team Sections</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_testimonials.html">Testimonials</a>
						</li>
						<li>
							<a href="../shortcodes/shortcodes_timeline.html">Timeline</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="navbar vextra">
			<h6>Extra Menu</h6>
			<ul class="nav navbar-nav">
				<li><a href="">Presentation</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="">Support</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Terms Of Use</a></li>
			</ul>
		</div>
		<button type="button" class="toggle-menu" data-toggle="collapse" data-target="#sidemenu">
			<i class="ico-sidebar-r"></i>
		</button>
	</div>
	<div class="navbar-fixed-bottom">
		<div class="cart-list">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>$ 620.80</span> <ins>3</ins></a>
			<div class="dropdown-menu">
				<ul>
					<li>
						<a href="../shop/shop_product.html" class="fig text-center pull-left"><img src="http://gatwick.aisconverse.com/images/shop/product-1.jpg" alt=""></a>
						<div>
							<a href="../shop/shop_product.html">Modern Wine Box</a>
							<span class="price">
								<span class="amount">1 x $25,00</span>
							</span>
						</div>
					</li>
					<li>
						<a href="../shop/shop_product.html" class="fig text-center pull-left"><img src="http://gatwick.aisconverse.com/images/shop/product-3.jpg" alt=""></a>
						<div>
							<a href="../shop/shop_product.html">Green Plant</a>
							<span class="price">
								<span class="amount">2 x $890,00</span>
							</span>
						</div>
					</li>
					<li>
						<a href="../shop/shop_product.html" class="fig text-center pull-left"><img src="http://gatwick.aisconverse.com/images/shop/product-6.jpg" alt=""></a>
						<div>
							<a href="../shop/shop_product.html">Wooden Spatula</a>
							<span class="price">
								<span class="amount">1 x $890,00</span>
							</span>
						</div>
					</li>
				</ul>
				<div class="hcart-total clearfix">
					<a href="../shop/shop_cart.html" class="btn btn-primary pull-left">Cart</a>
					<div class="total pull-left">Total - <ins>$620,80</ins></div>
				</div>
			</div>
		</div>
		<p>&copy; 2015 Gatwick <br/> All Rights Reserved</p>
	</div>

	<!-- SIDEMENU -->
	<div id="sidemenu" class="sidemenu dark-theme colsmenu fade collapse">
		<button type="button" class="close" data-toggle="collapse" data-target="#sidemenu">
			<img src="../../../images/close-w-sm.png" alt="">
		</button>
			<h5>Shortcodes</h5>
	<ul>
		<li><a href="../../shortcodes/shortcodes_columns.html">Columns</a></li>
		<li><a href="../../shortcodes/shortcodes_heading.html">Heading</a></li>
		<li><a href="../../shortcodes/shortcodes_buttons.html">Buttons</a></li>
		<li><a href="../../shortcodes/shortcodes_lists.html">Lists</a></li>
		<li><a href="../../shortcodes/shortcodes_dividers.html">Dividers</a></li>
		<li><a href="../../shortcodes/shortcodes_accordions.html">Accordions</a></li>
	</ul>

	<hr/>

	<ul>
		<li><a href="../../shortcodes/shortcodes_tabs.html">Tabs</a></li>
		<li><a href="../../shortcodes/shortcodes_blockquotes.html">Blockquotes</a></li>
		<li><a href="../../shortcodes/shortcodes_highlights.html">Hightlights</a></li>
		<li><a href="../../shortcodes/shortcodes_drop_caps.html">Drop Caps</a></li>
	</ul>

	<hr/>

	<ul>
		<li><a href="../../shortcodes/shortcodes_promo_boxes.html">Message Boxes</a></li>
		<li><a href="../../shortcodes/shortcodes_google_fonts.html">Google Fonts</a></li>
		<li><a href="../../shortcodes/shortcodes_tables.html">Data Tables</a></li>
		<li><a href="../../shortcodes/shortcodes_forms.html">Forms &amp; Controls</a></li>
	</ul>

	</div>
	<!-- /.sidemenu -->
</header>
<!-- /.header -->

<!-- WRAPPER -->
<div class="wrapper border">

	<!-- HEADCONTENT -->
	<div class="headcontent">
		<div class="container">
			<div class="col-sm-6">
				<h1>Image Post</h1>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Blog</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.headcontent -->

	<!-- CONTAINER -->
	<div class="container">
		<div class="col-md-9 col-sm-8">
			<!-- POST: Image -->
			<div class="post format-image">
				<a href="" class="avatar"><img src="http://gatwick.aisconverse.com/images/team/person-7-sq.jpg" class="img-circle img-xs" alt=""></a>
				<header class="entry-header">
					<div class="meta">
						<a href="" class="author"><i class="fa fa-user"></i>Mikla Olant</a>
						<small><i class="fa fa-calendar"></i>12 September, 2015</small>
						<a href=""><i class="fa fa-comment"></i>No Comments</a>
						<small>
							<i class="fa fa-folder"></i>
							<a href="">Music</a>
						</small>
					</div>
					<h2>Making A Font For Your Shrink</h2>
				</header>
				<div class="entry-content">
					<img src="http://gatwick.aisconverse.com/images/mockup/post-image.jpg" alt="">
					<p>I want you to think about what you’re doing right now. I mean really think about it. As your eyes move across these lines and funnel information to your brain, you’re taking part in a conversation I started with you. The conveyance of that conversation is the type you’re reading on this page, but you’re also filtering it through your experiences and past conversations. You’re putting these words into context. And whether you’re reading this book on paper, on a device, or at your desk, your environment shapes your experience too. Someone else reading these words may go through the same motions.</p>
					<h3>Readability</h3>
					<p>Just because something is legible doesn’t mean it’s readable. Legibility means that text can be interpreted, but that’s like saying tree bark is edible. We’re aiming higher. Readability combines the emotional impact of a design (or lack thereof ) with the amount of effort it presumably takes to read. You’ve heard of TL;DR (too long; didn’t read)? Length isn’t the only detractor to reading; poor typography is one too.</p>
					<ul>
						<li>Filmmaking</li>
						<li>Television Production</li>
						<li>Sound Recording</li>
						<li>Performance</li>
					</ul>
					<p>Each decision you make could potentially hamper a reader’s understanding, causing them to bail and update their Facebook status instead. Don’t let your design deter your readers or stand in the way of what they want to do: read. Once we bring readers in, what else can we do to keep their attention and help them understand our writing? Let’s take a brief look at what the reading experience is like and how design influences it.</p>
					<h4>The act of reading</h4>
					<p>When I first started designing websites, I assumed everyone read my work the same way I did. I spent countless hours crafting the right layout and type arrangements. I saw the work as a collection of the typographic considerations I made: the lovingly set headlines, the ample whitespace, the typographic rhythm. I assumed everyone would see that too. It’s appealing to think that’s the case, but reading is a much more nuanced experience.</p>
					<p>As our eyes move across the text, our minds gobble up the type’s texture—the sum of the positive and negative spaces inside and around letters and words. We don’t linger on those spaces and details; instead, our brains do the heavy lifting of parsing the text and assembling a mental picture of what we’re reading. Our eyes see the type and our brains see Don Quixote chasing a windmill. Or, at least, that’s what we hope. This is the ideal scenario, but it depends on our design choices. Have you ever been completely absorbed in a book and lost in the passing pages?</p>
				</div>
			</div>
			<!-- /.post -->

			<hr/>

			<nav class="nav-single clearfix">
				<div class="nav-previous text-left">
					<a href="">
						<small>Previous Post</small>
						<span>Two new chairs from the best shop</span>
					</a>
				</div>
				<div class="nav-next text-right">
					<a href="">
						<small>Next Post</small>
						<span>Desktop Wallpaper Calendars</span>
					</a>
				</div>
			</nav>

			<hr/>

	<!-- RECENT POSTS -->
	<div class="recent-posts">
		<h3>Recent Posts</h3>
		<div class="row">
			<div class="col-xs-4">
				<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/recent-1.jpg" alt=""></a>
			</div>
			<div class="col-xs-8">
				<h5><a href="">Rethinking Mobile Tutorials</a></h5>
				<div class="meta">
					<small><i class="fa fa-calendar"></i>12 June, 2015</small>
					<a href=""><i class="fa fa-comment"></i>16</a>
					<small>
						<i class="fa fa-folder"></i>
						<a href="">Design</a>,
						<a href="">Music</a>
					</small>
				</div>
				<p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<a href=""><img src="http://gatwick.aisconverse.com/images/mockup/recent-2.jpg" alt=""></a>
			</div>
			<div class="col-xs-8">
				<h5><a href="">The Mystery Of The jQuery Object: Basic Introduction</a></h5>
				<div class="meta">
					<small><i class="fa fa-calendar"></i>12 December, 2015</small>
					<a href=""><i class="fa fa-comment"></i>16</a>
					<small>
						<i class="fa fa-folder"></i>
						<a href="">Music</a>
					</small>
				</div>
				<p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
			</div>
		</div>
	</div>
	<!-- /.recent-posts -->

	<!-- COMMENTS -->
	<div class="comments" id="comments">
		<h3>3 Comments</h3>
		<hr class="sm-margin"/>
		<div class="comment clearfix">
			<a href="" class="comment-ava"><img src="http://gatwick.aisconverse.com/images/team/person-6-sq.jpg" alt="" class="img-circle img-xs"></a>
			<div class="comment-text">
				<div class="comment-line">
					<p>
						<a href="">Susana Jacobs</a>,
						12 july at 20:48
						<a href="#addcomment" class="internal">Reply</a>
					</p>
				</div>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
			</div>
			<div class="comment clearfix">
				<a href="" class="comment-ava"><img src="http://gatwick.aisconverse.com/images/team/person-2-sq.jpg" alt="" class="img-circle img-xs"></a>
				<div class="comment-text">
					<div class="comment-line">
						<p>
							<a href="">Maria Airam</a>,
							12 july at 22:03
							<a href="#addcomment" class="internal">Reply</a>
						</p>
					</div>
					<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
				</div>
			</div>
		</div>
		<div class="comment clearfix">
			<a href="" class="comment-ava"><img src="http://gatwick.aisconverse.com/images/team/person-4-sq.jpg" alt="" class="img-circle img-xs"></a>
			<div class="comment-text">
				<div class="comment-line">
					<p>
						<a href="">Bill Scott</a>,
						02 September at 12:47
						<a href="#addcomment" class="internal">Reply</a>
					</p>
				</div>
				<p>Ea nec enim accumsan, ut prima blandit mel, labores nonumes detraxit an sed. Omnis malis propriae an sed, eu mea erat utinam meliore, inciderint philosophia usu ne. Laudem labores eu sed, vix in omnis habemus omnesque.</p>
			</div>
		</div>
	</div>
	<!-- /.comments -->

			<hr/>

	<!-- Add Comment -->
	<div class="add-comment" id="addcomment">
		<h3>Add Comment <small>Your email address will not be published.</small></h3>
		<form novalidate>
			<div class="form-wrap">
				<div class="form-group">
					<input type="text" name="name" placeholder="Your Name">
				</div>
				<div class="form-group">
					<input type="email" name="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" name="website" placeholder="Webiste">
				</div>
				<div class="form-group">
					<textarea name="message" placeholder="Message"></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>
	<!-- /.add-comment -->
		</div>

	<!-- Sidebar -->
	<aside class="col-md-3 col-sm-4 sidebar m-center">
		<!-- .widget -->
		<div class="widget">
			<h4>Category</h4>
			<ul class="category-list flat">
				<li>
					<a href="">Design <span class="pull-right">48</span></a>
				</li>
				<li>
					<a href="" class="active">Vizualization <span class="pull-right">24</span></a>
				</li>
				<li>
					<a href="">Productivity <span class="pull-right">12</span></a>
				</li>
				<li>
					<a href="">Gallery <span class="pull-right">8</span></a>
				</li>
				<li>
					<a href="">Music <span class="pull-right">4</span></a>
					<ul>
						<li><a href="">Classic <span class="pull-right">47</span></a></li>
						<li><a href="">Rock <span class="pull-right">44</span></a></li>
						<li><a href="">Rock’n’Roll  <span class="pull-right">42</span></a></li>
					</ul>
				</li>
				<li>
					<a href="">Video <span class="pull-right">8</span></a>
				</li>
				<li>
					<a href="">Production <span class="pull-right">8</span></a>
				</li>
				<li>
					<a href="">Marketing <span class="pull-right">8</span></a>
				</li>
			</ul>
		</div>
		<!-- /.widget -->

		<!-- .widget -->
		<div class="widget">
			<form action="/" class="search-form">
				<div class="form-group">
					<input type="text" placeholder="Search for">
				</div>
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<!-- /.widget -->

		<!-- .widget -->
		<div class="widget">
			<h4>Tags Cloud</h4>
			<div class="tagcloud">
				<a href="">Contemporary</a>
				<a href="">Plastic</a><br>
				<a href="">Turner</a>
				<a href="">Industrial</a>
				<a href="">Metal</a><br>
				<a href="">Contemporary</a>
				<a href="">Plastic</a>
				<a href="">Wood</a>
				<a href="">Kitchen</a>
				<a href="">Spatula</a><br>
				<a href="">Modern Loom</a>
				<a href="">Mixet</a>
				<a href="">Kettle</a>
			</div>
		</div>
		<!-- /.widget -->

		<hr/>

		<!-- .widget -->
		<div class="widget">
			<h4>Archive</h4>
			<ul class="category-list flat">
				<li><a href="">December 2014 <span class="pull-right">48</span></a></li>
				<li><a href="">January 2015 <span class="pull-right">24</span></a></li>
				<li><a href="">Febriary 2015 <span class="pull-right">47</span></a></li>
				<li><a href="">March 2015 <span class="pull-right">45</span></a></li>
				<li><a href="">April 2015 <span class="pull-right">31</span></a></li>
			</ul>
		</div>
		<!-- /.widget -->

		<hr/>

		<!-- .widget -->
		<div class="widget">
			<h4>Twitter</h4>
			<ul class="twitter-list flat">
				<li>
					<div class="fa fa-twitter"></div><p><a href="">@gatwick:</a> Utnon enim  feugiat <a href="">goo.gl/56Rt78</a> famesac turpis egestas</p>
					<div class="date">June 18, 2014</div>
				</li>
				<li>
					<div class="fa fa-twitter"></div><p><a href="">@gatwick:</a> Mellentesque
					netus et malesuada <a href="">goo.gl/A65qt</a> enim eleifend felis pretium</p>
					<div class="date">September 8, 2014</div>
				</li>
			</ul>
		</div>
		<!-- /.widget -->

		<hr/>

		<!-- .widget -->
		<div class="widget">
			<h4>September 2015</h4>
			<table class="calendar">
				<thead>
				<tr>
					<th scope="col" title="Monday">M</th>
					<th scope="col" title="Tuesday">T</th>
					<th scope="col" title="Wednesday">W</th>
					<th scope="col" title="Thursday">T</th>
					<th scope="col" title="Friday">F</th>
					<th scope="col" title="Saturday">S</th>
					<th scope="col" title="Sunday">S</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>&nbsp;</td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td><a href="">11</a></td>
					<td>12</td>
					<td>13</td>
				</tr>
				<tr>
					<td>14</td>
					<td>15</td>
					<td>16</td>
					<td>17</td>
					<td>18</td>
					<td>19</td>
					<td>20</td>
				</tr>
				<tr>
					<td>21</td>
					<td><a href="">22</a></td>
					<td>23</td>
					<td>24</td>
					<td>25</td>
					<td>26</td>
					<td>27</td>
				</tr>
				<tr>
					<td>28</td>
					<td>29</td>
					<td>30</td>
					<td>31</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- /.widget -->
	</aside>
	<!-- /.sidebar -->
	</div>
	<!-- /.container -->
</div>
<!-- /.wrapper -->

<!-- ScrollTop -->
<a href="#" class="scrolltop"><i></i></a>

<!-- SCRIPTS -->
<script src="/js/home3/jquery-1.10.2.js"></script> <!-- js for jquery -->
<script src="/js/home3/bootstrap.js"></script> <!--  js for bootstrap -->
<script src="/js/products/productPage/plugins.js"></script> <!-- js of all plugins -->
<script src="/js/products/productPage/custom.js"></script> <!-- js customized for this page -->
</body>
</html>