<h4><%= title %></h4>
<button onclick="goBack()">Want to write another post?</button>

<script>
function goBack() {
    // window.history.back();
    window.location = document.referrer;
}
</script>
<p>Your blog is not published yet ,you will get a notification with the link of your post when it is published</p>