<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pedesa Magazine Html Theme</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme">
    <meta name="keywords" content="html,css,web,website,webdesign,magazine,blog,free">
    <meta name="author" content="Aristotheme">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/blog/frontPage.css"> <!-- css for the front page of blog and the article and category page -->
    <script src="/js/home3/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>
<body>


<!-- Categories Slider -->

<section id="browse-categories" class="hidden">
    <div class="owl-carousel">
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/fashion.jpg"  src="/img/blog/frontPage/fashion.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Fashion</h3></div></a>
        </div>
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/architecture.jpg"  src="/img/blog/frontPage/architecture.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Architecture</h3></div></a>
        </div>
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/photography.jpg"  src="/img/blog/frontPage/photography.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Photography</h3></div></a>
        </div>
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/art.jpg"  src="/img/blog/frontPage/art.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Art</h3></div></a>
        </div>
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/graphic.jpg"  src="/img/blog/frontPage/graphic.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Graphic Design</h3></div></a>
        </div>
        <div class="main_category">
            <div class="overlay">

                <img class="lazy-loaded" data-src="/img/blog/frontPage/furniture.jpg"  src="/img/blog/frontPage/furniture.jpg"/>
                <noscript><img src="/img/blog/frontPage/fashion.jpg"/></noscript>

            </div>
            <a href="/blog/category"><div class="title"><h3>Furniture</h3></div></a>
        </div>
    </div>
</section>


<header class="header">
    <div class="logo">
        <a href="/blog/index"><img src="/img/blog/frontPage/logo.svg" width="72" height="90" alt="Pedesa Logo" /></a>
    </div>

    <a href="#" id="open-close" class="browse-link">
        <span class="icon-tag"></span>
        <span class="icon-close"></span>
        <div class="cta">Browse Categories</div>
    </a>

    <nav class="nav">
        <ul>
            <li><a href="#" id="trigger-info-modal"><span class="icon-info"></span></a> </li>

        </ul>
    </nav>


    <form class="search-box">
        <div class="btn-close"><span class="icon-close"></span></div>
        <input class="search-bar" type="text" value="" placeholder="Search" data-active-placeholder="Type to search...">

        <p class="help">Press <strong>return</strong> to search. Press <strong>Esc</strong> to cancel.</p>
    </form>

</header>



<section class="info-modal info-modal-scale">
    <div class="info-modal-content">
        <a class="info-modal-close"><span class="icon-close"></span></a>
        <h2>PATARA IS A CLEAN, RESPONSIVE, SIMPLE KIRBY THEME SUITABLE FOR BLOGS, MAGAZINES, PUBLISHING OR REVIEW SITES.</h2>

        <p>This is Sketch's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>

        <p><a href="mailto:support@aristotheme.com" target="_blank">support@aristotheme.com</a></p>
    </div>
</section>

<section class="category-header">
    <h1>Fashion</h1>
</section>

<section class="post-container">


    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/fashion-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Fashion Photography</h3>
            <div class="post-content">
                <p>When we set out on a journey toward simple living…</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">1 hour ago by <a href= "#">Mark Olson</a></li>
                </ul>
            </div>
        </footer>

    </article>

    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/photography-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Clean Your Tech Screens with AM</h3>
            <div class="post-content">
                <p>Clutter is a problem that is shared by people of all ages…</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">6 hour ago by <a href= "#">Henry Gilber</a></li>
                </ul>
            </div>
        </footer>

    </article>

    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/architecture-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Housing Project in Aarhus</h3>
            <div class="post-content">
                <p>The Principle of Priority states (a) you must know the difference...</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">4 hour ago by <a href= "#">Eric Barnes</a></li>
                </ul>
            </div>
        </footer>

    </article>

    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/graphic-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Spielzeit Flyer / Poster</h3>
            <div class="post-content">
                <p>Do you ever have trouble making an on-the-spot decision?…</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">17 hour ago by <a href= "#">Jacop Foster</a></li>
                </ul>
            </div>
        </footer>

    </article>


    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/art-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Nuket Güner</h3>
            <div class="post-content">
                <p>Do you ever have trouble making an on-the-spot decision?…</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">8 hour ago by <a href= "#">Ethan Sims</a></li>
                </ul>
            </div>
        </footer>

    </article>


    <article class="post-item grid-sizer">

        <header>
            <div class="post-image">
                <img src="/img/blog/frontPage/furniture-1.jpg" alt="image" />
            </div>

            <a href="/blog/article">
                <div class="post-overlay">
                    <div class="post-logo">
                        <img src="/img/blog/frontPage/logo-hover.svg" width="152" height="196" alt="Pedesa Logo" />
                    </div>
                </div>
            </a>
        </header>

        <footer>
            <h3>Design Akbad</h3>
            <div class="post-content">
                <p>If you ever needed motivation for minimalism…</p>
            </div>
            <div class="post-meta">
                <ul>
                    <li class="author">21 hour ago by <a href= "#">Kevin Gutierrez</a></li>
                </ul>
            </div>
        </footer>

    </article>




</section>

<section>
    <nav role="navigation">
        <ul class="pagination space-buttons">
            <li class="button"><a class="next" href="#0">&lsaquo; next page</a></li>
            <li><a class="current" href="#0">1<span>,</span></a></li>
            <li><a href="#0">2<span>,</span></a></li>
            <li><a href="#0">3<span>,</span></a></li>
            <li><a href="#0">4<span>,</span></a></li>
            <li class="button"><a class="prev" href="#0">prev page &rsaquo;</a></li>
        </ul>
    </nav>
</section>

<footer class="footer">

    <nav class="socials">
        <ul>
            <li><a href="#"><span class="icon-instagram"></span></a> </li>
            <li><a href="#"><span class="icon-twitter"></span></a> </li>
            <li><a href="#"><span class="icon-facebook"></span></a> </li>

        </ul>
    </nav>

    <a href="#" class="back-to-top">
        <span class="icon-arrow"></span>
    </a>



    <nav class="languages" role="navigation">
        <ul>

            <li class="active"><a href="#">EN |</a></li>
            <li><a href="#">FR</a></li>

        </ul>
    </nav>


</footer>


<script src="/js/home3/jquery-1.10.2.js"></script> <!-- js for jquery -->
<script src="/js/blog1/classie.js"></script> <!-- js for classie -->
<script src="/js/blog1/main.js"></script> <!-- js for the main theme of the blog -->
<script src="/js/blog1/owl.carousel.min.js"></script> <!-- js for the carousel , this file was quite important -->
<script src="/js/blog1/jquery.expand-search.min.js"></script> <!-- js for the expanding search bar -->
<script src="/js/blog1/isotope.js "></script> <!-- js for the isotope plugin which provides the grid look of the page - index and category -->



</body>
</html>





























