<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Cementify - Write a blog</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <script type="text/javascript" src="/js/common/jquery-2.2.0.js"></script> <!-- js for jquery -->
    <script type="text/javascript" src="/bower/sir-trevor-js/sir-trevor.js"></script>  <!-- js for sir trevor /-->
    <link rel="stylesheet" type="text/css" href="/bower/sir-trevor-js/sir-trevor.css"></link><!-- css for sir trevor -->
    <script type="text/javascript" src="/node_modules/underscore/underscore-min.js"></script><!-- Underscore (included in sir-trevor) -->
    <script type="text/javascript" src="/js/common/eventable.js"></script><!-- Eventable (included in sir-trevor) -->
    <link rel="stylesheet" type="text/css" href="/css/blog/write1/captioned-image.css"/><!-- css for captioned image block -->
    <script type="text/javascript" src="/js/blog1/write1/captioned-image.js"></script><!-- js for captioned image block -->
    <script type="text/javascript" src="/js/blog1/write1/ordered-list.js"></script><!-- js for ordered list block -->
    <script src="/js/blog1/write1/sir-trevor-custom.js"></script> <!-- js for customizing sir trevor -->
    <link rel="stylesheet" type="text/css" href="/css/blog/write1/sir-trevor-custom.css"></link><!-- css for sir trevor customization -->
</head>
<body>
    <form method="post" action="/blog/writePost1">
        <textarea class="js-st-instance">{"data":[{"type":"text","data":{"text":"Hello, I&rsquo;m **Sir Trevor**.\nCreate some new blocks and see _what I can do_.\n"}},{"type":"video","data":{"source":"youtube","remote_id":"hcFLFpmc4Pg"}}]}</textarea>
        <input class = "submit" type="submit" value="Submit">
    </form>

    <div class = "output"></div>

</body>

<link rel="stylesheet" type="text/css" href="/css/blog/write/write.css"></link> <!-- css for the text editor and form for submission -->

</html>






















































