<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Text editor to publish Articles</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta name="keywords" content="html,css,web,website,webdesign,magazine,blog,free"></meta>
    <meta name="author" content="Aristotheme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link><!-- Bootstrap core CSS -->
    <script src="/js/home3/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
    <script src="/js/common/dropzone.js"></script>  <!-- js for the add files area /-->
    <script src="/js/blog1/write/imageUpload.js"></script>  <!-- js for the add files area /-->

</head>
<body>
<form method="post" action="/blog/writePost">

    <div class="textEditor container">
        <section>
            <h1 class="heading">Write your blog entry below</h1>
                <textarea id="mytextarea" name = "textArea">Hello, World!</textarea>
        </section>
        <section>
            <h1 class="heading">Enter Blog Details</h1>
            <div class="cd-form floating-labels">


                <fieldset>
                    <legend>Category</legend>

                    <div>
                        <!--<h4>Budget</h4>-->

                        <p class="cd-select icon">
                            <select class="budget" >
                                <option value="" >Select an option</option>

                                <option value="0">Select Budget</option>
                                <option value="1">&lt; $5000</option>
                                <option value="2">$5000 - $10000</option>
                                <option value="3">&gt; $10000</option>
                            </select>
                        </p>
                    </div>

                    <legend>Subcategory</legend>

                    <div>
                        <!--<h4>Budget</h4>-->

                        <p class="cd-select icon">
                            <select class="budget" >
                                <option value="" >Select an option</option>

                                <option value="0">Select Budget</option>
                                <option value="1">&lt; $5000</option>
                                <option value="2">$5000 - $10000</option>
                                <option value="3">&gt; $10000</option>
                            </select>
                        </p>
                    </div>
                    <fieldset>
                        <legend>Your Info</legend>

                        <!--<div class="error-message">-->
                            <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <label class="cd-label" for="cd-name">Phone</label>
                            <input class="user" type="text" name="cd-name" id="cd-name" >
                        </div>


                    </fieldset>

                    <fieldset>
                        <legend>Your Info</legend>

                        <!--<div class="error-message">-->
                        <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <label class="cd-label" for="cd-name">Phone</label>
                            <input class="user" type="text" name="cd-name" id="cd-name" >
                        </div>


                    </fieldset>
                    <fieldset>
                        <legend>Select Multiple images(Optional):</legend>

                        <!--<div class="error-message">-->
                        <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <input type="file" name="img" multiple></input>
                        </div>

                    </fieldset>


                    <div>
                        <input type="submit" value="Enter OTP and Publish Blog"></input>
                    </div>
                </fieldset>


            </div>
        </section>

        <section>


        </section>

    </div>
</form>
<form id="my-awesome-dropzone" action="/target" class="dropzone"></form>
 HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/
<div class="table table-striped" class="files" id="previews">

    <div id="template" class="file-row">
        <!-- This is used as the file preview template -->
        <div>
            <span class="preview"><img data-dz-thumbnail /></span>
        </div>
        <div>
            <p class="name" data-dz-name></p>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
        <div>
            <p class="size" data-dz-size></p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            <button data-dz-remove class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            <button data-dz-remove class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>

</div>

<br></br>
<br></br>


<script src="/js/common/tinymce/tinymce.min.js"></script> <!-- js for the text editor -->
<script>

    tinymce.init({
      selector: '#mytextarea',
      height: "450px",
      width : "80%",
      plugins: [
       ' autolink lists link image  preview hr anchor',
        'searchreplace wordcount code',
        ' save table contextmenu directionality',
        ' paste textcolor colorpicker textpattern imagetools'
      ],
      removed_menuitems: 'undo, redo,visualaid, cell,row,column',

        toolbar1: ' undo redo  | bold italic | alignleft aligncenter alignright | bullist numlist | link image ',
        toolbar2: ' preview ',
        content_css: [
        '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css',
        '/css/blog/write/innerLayout.css'
      ]
    });

</script>

</body>
<link rel="stylesheet" type="text/css" href="/css/blog/write/write.css"></link> <!-- css for the text editor and form for submission -->

</html>






























