<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Cementify - Write a blog</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="/js/home3/modernizr-2.6.2.min.js"></script>  &lt;!&ndash; Modernizr /&ndash;&gt;-->
    <script src="/bower/sir-trevor-js/sir-trevor.js"></script>  <!-- js for the add files area /-->
    <link rel="stylesheet" type="text/css" href="/bower/sir-trevor-js/sir-trevor.css"></link><!-- Bootstrap core CSS -->



</head>
<body>
<form>
    <textarea class="js-st-instance"></textarea>
</form>

<script>
  new SirTrevor.Editor({ el: $('.js-st-instance') });
</script>




</body>
<link rel="stylesheet" type="text/css" href="/css/blog/write/write.css"></link> <!-- css for the text editor and form for submission -->

</html>






























