<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Text editor to publish Articles</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta name="keywords" content="html,css,web,website,webdesign,magazine,blog,free"></meta>
    <meta name="author" content="Aristotheme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link><!-- Bootstrap core CSS -->
    <script src="/js/home3/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->

</head>
<body>

    <div class="textEditor container">
        <section>
            <h1 class="heading">Write your blog entry below</h1>
            <form method="post">
                <textarea id="mytextarea">Hello, World!</textarea>
            </form>
        </section>
        <section>
            <h1 class="heading">Enter Blog Details</h1>
            <form class="cd-form floating-labels">


                <fieldset>
                    <legend>Category</legend>

                    <div>
                        <!--<h4>Budget</h4>-->

                        <p class="cd-select icon">
                            <select class="budget" required>
                                <option value="" >Select an option</option>

                                <option value="0">Select Budget</option>
                                <option value="1">&lt; $5000</option>
                                <option value="2">$5000 - $10000</option>
                                <option value="3">&gt; $10000</option>
                            </select>
                        </p>
                    </div>

                    <legend>Subcategory</legend>

                    <div>
                        <!--<h4>Budget</h4>-->

                        <p class="cd-select icon">
                            <select class="budget" required>
                                <option value="" >Select an option</option>

                                <option value="0">Select Budget</option>
                                <option value="1">&lt; $5000</option>
                                <option value="2">$5000 - $10000</option>
                                <option value="3">&gt; $10000</option>
                            </select>
                        </p>
                    </div>
                    <fieldset>
                        <legend>Your Info</legend>

                        <!--<div class="error-message">-->
                            <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <label class="cd-label" for="cd-name">Phone</label>
                            <input class="user" type="text" name="cd-name" id="cd-name" required>
                        </div>


                    </fieldset>

                    <fieldset>
                        <legend>Your Info</legend>

                        <!--<div class="error-message">-->
                        <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <label class="cd-label" for="cd-name">Phone</label>
                            <input class="user" type="text" name="cd-name" id="cd-name" required>
                        </div>


                    </fieldset>
                    <fieldset>
                        <legend>Select Multiple images(Optional):</legend>

                        <!--<div class="error-message">-->
                        <!--<p>Please enter your phone number so we can send OTP</p>-->
                        <!--</div>-->

                        <div class="icon">
                            <input type="file" name="img" multiple>
                        </div>

                    </fieldset>


                    <div>
                        <input type="submit" value="Enter OTP and Publish Blog">
                    </div>
                </fieldset>
            </form>
        </section>
        <section>


        </section>

    </div>

<script src="/js/common/tinymce/tinymce.min.js"></script> <!-- js for the text editor -->
<script>

    tinymce.init({
      selector: '#mytextarea',
      height: "450px",
      width : "80%",
      plugins: [
       ' autolink lists link image  preview hr anchor',
        'searchreplace wordcount code',
        ' save table contextmenu directionality',
        ' paste textcolor colorpicker textpattern imagetools'
      ],
      removed_menuitems: 'undo, redo,visualaid, cell,row,column',

        toolbar1: ' undo redo  | bold italic | alignleft aligncenter alignright | bullist numlist | link image ',
        toolbar2: ' preview ',
        content_css: [
        '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css',
        '/css/blog/write/innerLayout.css'
      ]
    });
</script>
</body>
<link rel="stylesheet" type="text/css" href="/css/blog/write/write.css"></link> <!-- css for the text editor and form for submission -->

</html>






























