<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Cementify - Write a blog</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="/js/common/jquery-2.2.0.js"></script> <!-- js for jquery -->


    <script src="/bower/sir-trevor-js/sir-trevor.js"></script>  <!-- js for sir trevor /-->

    <link rel="stylesheet" type="text/css" href="/bower/sir-trevor-js/sir-trevor.css"></link><!-- css for sir trevor -->
    <link rel="stylesheet" type="text/css" href="/bower/sir-trevor-js/sir-trevor-icons.css"></link><!-- css for sir trevor icons -->

    <!-- Underscore (included in sir-trevor) -->
    <script type="text/javascript" src="/node_modules/underscore/underscore-min.js"></script>
    <!-- Eventable (included in sir-trevor) -->
    <script type="text/javascript" src="/js/common/eventable.js"></script>

    <!-- FORMATTERS -->
    <!-- Insert special charachters formatter (Require jquery ui with dialog plugin) -->
    <script src="http://code.jquery.com/ui/jquery-ui-git.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/jquery-ui-git.css" media="all">

    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/special-char.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/special-char.js"></script>

    <!-- Strike through formatter -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/strike-through.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/strike-through.js"></script>

    <!-- Underline formatter -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/underline.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/underline.js"></script>

    <!-- Justify formatters -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/justify.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/justify.js"></script>

    <!-- Subscript formatter -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/subscript.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/subscript.js"></script>

    <!-- Superscript formatter -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/superscript.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/superscript.js"></script>

    <!-- Clear formatter -->
    <link rel="stylesheet" href="/js/common/sir-trevor-formatters-master/clear-format.css" media="all">
    <script src="/js/common/sir-trevor-formatters-master/clear-format.js"></script>
    <!-- END FORMATTERS -->


    <script src="/js/blog1/write1/sir-trevor-custom.js"></script> <!-- js for customizing sir trevor -->
    <link rel="stylesheet" type="text/css" href="/css/blog/write1/sir-trevor-custom.css"></link><!-- css for sir trevor customization -->


</head>
<body>
    <form method="post" action="/blog/writePost1">
        <textarea class="js-st-instance"></textarea>
        <input type="submit" value="Submit">
    </form>

</body>

<link rel="stylesheet" type="text/css" href="/css/blog/write/write.css"></link> <!-- css for the text editor and form for submission -->

</html>






























