<h3> you have successfully signed in  - in the index page of users</h3>


<form action="/users/signout" method="GET" class="form-signin">
	<button type="submit" class="btn btn-lg btn-primary btn-block">Signout</button><span class="clearfix"></span>
</form>