.gridder {
    list-style-type: none
}

.gridder-list {
    display: inline-block;
    vertical-align: bottom;
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative
}

.gridder-content {
    display: none
}

.gridder-list {
    width: 15.83333%
}


body {

    padding-bottom: 1000px
}

@media only screen and (max-width: 768px) {
    body {
        padding: 15px
    }
}


hr {
    margin: 40px 0;
    border: 0px;
    border-top: 1px solid #EEE
}



h1 {
    text-align: center
}

.headline {
    text-align: center
}

.paragraph {
    text-align: center;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 12px
}

.gridder.hasSelectedItem .gridder-list {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5
}

.gridder.hasSelectedItem .gridder-list.selectedItem {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 100
}

.gridder-list {
    display: inline-block;
    position: static;
    cursor: pointer;
    width: 32.66667%
}



.gridder-list .overlay {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #FFF
}

.gridder-list .overlay .title {
    font-weight: 800;
    font-size: 16px
}

.gridder-list .overlay .description {
    font-weight: 300;
    font-size: 14px
}

.gridder-list .image {
    background-color: #EEE;
    background-image: url("../images/loading-spin.svg");
    background-size: cover;
    background-position: center;
    height: 250px
}

@media only screen and (max-width: 768px) {
    .gridder-list {
        width: 48%
    }
    .gridder-list .image {
        height: auto
    }
}

.gridder-show {
    float: left;
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.16)
}

.gridder-show .description {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    font-family: Arial, serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    line-height: 170%;
    color: #FFF
}

.gridder-show .description h2 {
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif
}

.gridder-show .description h3 {
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif
}

@media only screen and (max-width: 768px) {
    .gridder-show {
        padding: 15px
    }
}

.gridder-navigation {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
}

.gridder-navigation a {
    background: #FFF;
    display: inline-block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin-right: 0px;
    transition: all .3s ease-in-out
}

.gridder-navigation a:hover {
    background: #000;
    color: #FFF
}

.gridder-navigation a.disabled {
    opacity: 0
}

.gridder-expanded-content {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}